@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

html {
    --image-gradient: linear-gradient(
            to bottom left,
            rgba(17, 16, 16, 0.678),
            rgba(10, 14, 22, 0.86)
    );

    --imp-text-color: #70b4f0;
    height: 100%;
}

body {
    margin: 0;
    font-family: "Raleway", serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to left,
    #282828, #282828)
}


.purple {
    color: #5f97f8 !important;
}

/* --------- */
/*  Preloader */
/* --------- */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #050b13;
    background-image: url(./Assets/pre.svg);
    background-repeat: no-repeat;
    background-position: center;
}

#preloader-none {
    opacity: 0;
}

#no-scroll {
    overflow: hidden;
    height: 100vh;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #192f50;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(121, 183, 216, 0.96);
    border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(130, 177, 235, 0.91);
    border-radius: 12px;
}

/* --------- */
/* Navbar Section  */
/* --------- */
.sticky {
    background-color: rgba(4, 9, 22, 0.42);
    transition: all 0.3s ease-out 0s;
    backdrop-filter: blur(15px);

}

.navbar {
    position: fixed !important;
    transition: all 0.3s ease-out 0s !important;
    padding: 0.3rem 2rem !important;
    font-size: 1.2rem !important;
    color: white;
    cursor: pointer;

}

.navhover:hover {
    text-decoration: none;
    color: #ffffff;
}

.navhover {
    position: relative;
    color: #ffffff;
    text-decoration: none;
}


.navhover::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    left: 0;
    top: 1.7rem;
    background-color: #5b93f5;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navhover:hover::before {
    transform: scaleX(1);
}

.navbar-toggler {
    padding: 0.25rem 1.5rem !important;
    position: relative !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

.navbar-toggler span {
    display: block !important;
    background-color: #ffffff !important;
    height: 4px !important;
    width: 27px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    transform: rotate(0deg) !important;
    left: 0 !important;
    opacity: 1 !important;
}

@media (max-width: 767px) {
    .navbar {
        padding: 1rem 2rem !important;
        font-size: 1.4rem !important;
        background-color: #181a27 !important;
    }

    .navbar-nav .nav-item a::after {
        display: none !important;
    }
}

.navbar-brand {
    color: rgb(250, 250, 250) !important;
}

.logo {
    height: 2.3em !important;
    width: 2.5em !important;
}

.navbar-nav .link {
    color: #ffffff !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.link {
    padding: 0.8rem 1rem !important;
}

@media (max-width: 767px) {
    .link {
        padding: 0.7rem 1rem !important;
    }
}

.navbar-nav .nav-item {
    position: relative;
    margin-left: 2rem;

}

.navbar-nav .nav-item a {
    font-weight: 400;
    transition: all 0.3s ease-out 0s;
    position: relative;
    z-index: 1;
}

.navbar-nav .nav-item a::after {
    position: relative;
    display: block;
    height: 5px;
    width: 0;
    border-radius: 16px;
    background: #5b93f5;
    bottom: 1px;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
    width: 100%;

}


#tsparticles {
    position: absolute;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
    height: 100%;

}

.home-header {
    padding-top: 80px !important;
}

.home-section {
    background-image: url(./Assets/home-bg.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;

}

.home-content {
    padding: 9rem 0 2rem !important;
    color: #ffffff;
    text-align: left;
    height: 100vh;
}

.heading {
    font-size: 2.4em !important;
    padding-left: 0.925em !important;
}

.heading-name {
    font-size: 2.5em !important;
    padding-left: 45px !important;
}

.main-name {
    color: #5f97f8;
}

.Typewriter__wrapper {
    font-size: 2.2em !important;
    color: #5f97f8 !important;
    font-weight: 600 !important;
}

.Typewriter__cursor {
    font-size: 2.4em !important;
    color: #628dd6 !important;
}

@media (max-width: 767px) {
    .Typewriter__wrapper {
        font-size: 1.4em !important;
        font-weight: 500 !important;
        position: absolute !important;
    }

    .Typewriter__cursor {
        display: none !important;
    }
}


.myAvtar {
    padding-top: 3em !important;
    padding-bottom: 2em !important;
}


.home-about-description {
    color: #ffffff !important;
    padding-bottom: 20px !important;
}

.home-about-body {
    padding-top: 50px;
    font-size: 1.2em !important;
}

.home-about-social {
    text-align: center !important;
    padding-top: 25px;
    color: rgba(255, 255, 255, 0.01) !important;
}

.home-about-social-links {
    justify-content: center !important;
    padding-top: 15px !important;
    display: inline-block !important;
    position: relative !important;
    padding-inline-start: 0 !important;
}

.home-social-icons {
    position: relative !important;
    display: inline-block !important;
    width: 40px !important;
    height: 40px !important;
    text-align: center !important;
    font-size: 1.2em !important;
    line-height: 2em !important;
    background: rgba(255, 255, 255, 0.972) !important;
    border-radius: 50% !important;
    transition: 0.5s !important;
}

.home-social-icons::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #18287a;
    transition: 0.5s;
    transform: scale(0.9);
    z-index: -1;
}

.home-social-icons:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #1f4695;
}

.home-social-icons:hover {
    color: #204e9e;
    box-shadow: 0 0 5px #204e9e;
    text-shadow: 0 0 2px #204e9e;
}

.social-icons {
    display: inline-block !important;
    padding-right: 15px;
    padding-left: 15px;
}

.icon-colour {
    color: #0c2f86 !important;
}

/* --------- */
/* Footer */
/* --------- */
.footer {
    background-color: rgb(4, 9, 22);
    bottom: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 8px !important;
    position: relative;

}

.footer-copywright {
    text-align: center !important;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.footer-body {
    text-align: center !important;
}

@media (max-width: 767px) {
    .footer-copywright {
        text-align: center !important;
    }

    .footer-body {
        text-align: center !important;
    }
}

.footer h3 {
    font-size: 1em;
    color: #ffffff !important;
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

.footer-icons {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
    padding: 0 !important;
}

.blockquote-footer {
    color: #889ec0 !important;
}

.card-img-top {
    padding: 20px !important;
    opacity: 0.8 !important;
    border-radius: 10px !important;
}

textarea {
    width: 300px;
    height: 150px;
}

.btn-primary {
    color: #fff !important;
    background-color: #365386 !important;
    border-color: #365386 !important;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: rgba(32, 79, 197, 0.84) !important;
    border-color: rgba(32, 79, 197, 0.84) !important;
}

underline.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.project-heading {
    color: #ffffff !important;
    font-size: 2.3em !important;
    font-weight: 500 !important;
    padding-top: 10px !important;
}

/* --------- */
/* About */
/* --------- */

.about-section {
    position: relative !important;
    padding-top: 150px !important;
    padding-bottom: 30px !important;
    color: white !important;
}

.about-activity {
    list-style: none !important;
    text-align: left !important;
    padding-left: 1px !important;
}


@keyframes likeAnimation {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.fork-btn {
    font-size: 1.1em !important;
    padding-top: 10px !important;
}

.fork-btn-inner {
    line-height: 1.4em !important;
    background-color: rgba(76, 98, 206, 0.37) !important;
    padding: 0.25rem 1.1rem !important;
    vertical-align: middle !important;
    text-align: center !important;
}

.fork-btn-inner:hover {
    transform: translateY(-2px) !important;
    background-color: rgba(77, 131, 211, 0.53) !important;
    border-color: rgba(77, 99, 211, 0.53) !important;
}

.fork-btn-inner::after {
    display: none !important;
}

/* techstack */
.techstack {
    position: relative;
    display: flex;
    justify-content: space-between;


}

.techstack .card {
    position: relative;
    background-color: transparent;
    border: none;
}

.techstack .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.7s;
    z-index: 1;
}

.techstack .card:nth-child(1) .icon {
    background: rgba(95, 151, 248, 0.67);
    color: white;
    padding-top: 4em;

}

.techstack .card:nth-child(2) .icon {
    background: rgba(95, 151, 248, 0.67);
    color: white;
    padding-top: 4em

}

.techstack .card:nth-child(3) .icon {
    background: rgba(95, 151, 248, 0.67);
    color: white;
    padding-top: 4em
}

.techstack .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;

}

.fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;

}

.techstack .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.techstack .card .face.face1 {
    position: center;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.techstack .card:hover .face.face1 {
    background: #ff0057;
    transform: translateY(0px);
}

.techstack .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.techstack .card:hover .face.face1 .content {
    opacity: 1;
}

.techstack .card .face.face1 .content i {
    max-width: 100px;
}

.techstack .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.techstack .card:hover .face.face2 {
    transform: translateY(0);
}

.techstack .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.techstack .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
}

.techstack a {
    text-decoration: none;
    color: #414141;
}


ul.float-child {
    padding-left: 0;

    text-align: center;
}

ul.float-child > li {
    display: inline-block;
    padding: 10px 20px;
}

ul.float-child > li:hover {

}

ul.float-child > li > a {
    color: white;
    text-decoration: none;
}